.DS_Store

#ignore node_modules, as the node project is not "deployed" per se: http://www.mikealrogers.com/posts/nodemodules-in-git.html
/node_modules

/.idea
/dist
/generated

.sass-cache
server/api/mailer/config.js
server/api/mailer/invitation.js
server/api/mailer/invitationCagnotte.js
server/api/mailer/invitationCollaboratif.js
server/yarn.lock
yarn.lock
npm-debug.log
