/*nouvelle carte*/

@media only screen and (max-width: 640px) {
    .card-event-title {
        font-size: 14px;
    }
    .card-event-description {
        padding-top: 0px !important;
        font-size: 12px;
    }
    .card-event-type {
      text-align: left;
      line-height: 17px;
      font-size: 10px;
        height: 60px;
        padding-top: 11px !important;
    }
    .card-profile-container {
        padding-top: 15px !important;
    }
    .button_bring {
        width: 100%;
    }
    .card-image-event {
        width: 35%;
        margin: auto;
        padding: 10px;
    }
    #bringedModal, #iBringModal {
        width: 90%;
    }
    #bringedModal, #iBringModal span {
        font-size: 14px;
    }
    .card-profile-event {
        margin-top: 10px;
        height: 30px;
        width: 30px;
    }

    .card-profile-event-include {
        margin-top: 10px;
        height: 30px;
        width: 30px;
    }
    .ribbon-color {
        font: bold 10px Sans-Serif;
        color: #333;
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        position: relative;
        padding: 7px 0;
        left: -5px;
        top: 15px;
        width: 149px;
        background-color: teal;
        color: #eee;
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    }
    .ribbon-wrapper {
        width: 99px;
        height: 95px;
        overflow: hidden;
        position: absolute;
        top: -3px;
        right: -3px;
    }
}

@media only screen and (min-width: 641px) {
    .card-event-title {
        font-size: 24px;
    }
    .card-event-description {
        height: 70px;
        font-size: 20px;
    }
    .card-event-type {
      line-height: 16px;
      font-size: 16px;
        padding-top: 34px !important;
        height: 90px;
    }
    .card-image-event {
        padding: 10px;
        width: 30%;
        margin: auto;
    }
    .card-profile-event {
        height: 50px;
        width: 50px;
    }
    .card-profile-event-include {
        height: 50px;
        width: 50px;
    }
    .ribbon-wrapper {
        width: 102px;
        height: 108px;
        overflow: hidden;
        position: absolute;
        top: -8px;
        right: -3px;
    }
    .ribbon-color {
        font: bold 15px Sans-Serif;
        color: #333;
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        position: relative;
        padding: 7px 0;
        left: -5px;
        top: 15px;
        width: 149px;
        background-color: teal;
        color: #eee;
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    }
}

.card-event-location {
    position: relative;
    margin: 10px 0 0 10px;
    font-size: 50px !important;
    color: white !important;
    cursor: pointer;
}

.card-event {
    background-color: #ffcc80;
    transition: 1s;
}

.card-event.active {
    background-color: lightgreen;
    transition: 1s;
}

.card-event-title {
    color: white !important;
    position: relative;
    padding: 24px;
    width: 100%;
    font-weight: 600 !important;
}

.card-profile-container {
    border-top: 2px dashed rgba(0, 0, 0, .1);
    background-color: lightgrey;
    height: 80px;
}

.card-profile-event {
    border-radius: 50%;
    filter: grayscale(100%);
    margin-left: -10px;
}

.card-profile-event-include {
    border-radius: 50%;
    filter: grayscale(0%);
    margin-left: -10px;
}

.card-button-image {
    font-size: 50px !important;
    cursor: pointer;
    color: white;
}

.card-event-description {
    font-weight: 400;
    color: white;
    background-color: lightgrey;
}

.card-event-date {
    float: left;
}

.card-event-lieu {
    float: right;
}

.card-event-type {
    color: grey;
}

.card_ticket {
    display: block;
    color: white !important;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    line-height: 58px;
    text-align: center;
    border-radius: 0;
    background-color: #86db78;
    cursor: pointer;
}

.card_ticket::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 20px);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid #86db78;
}

.card_ticket_red {
    display: block;
    color: white !important;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    padding: 0;
    line-height: 58px;
    text-align: center;
    border-radius: 0;
    background-color: grey;
    cursor: pointer;
}
.card_ticket_blue {
    display: block;
    color: white !important;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    padding: 0;
    line-height: 58px;
    text-align: center;
    border-radius: 0;
    background-color: blue;
    cursor: pointer;
}
.card_ticket_orange {
    display: block;
    color: white !important;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    padding: 0;
    line-height: 58px;
    text-align: center;
    border-radius: 0;
    background-color: #ffcc80;
}

.card_ticket_remove {
    display: block;
    font-size: 12px;
    z-index: 4;
    position: absolute;
    bottom: 40px;
    left: 30%;
    width: 100%;
    height: 57px;
    padding: 0;
    line-height: 58px;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
}

.card_ticket_red::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 20px);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid grey;
}
.card_ticket_blue::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 20px);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid blue;
}
.card_ticket_orange::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 20px);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid #ffcc80;
}

.ribbon-color:before, .ribbon-color:after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-color:before {
    left: 0;
}

.ribbon-color:after {
    right: 0;
}

.modal-event-profile {
    width: 300px;
    height: auto;
    padding-bottom: 40px;
    text-align: center;
    background-color: lightgreen;
}

.modal-ticket-container {
    padding: 20px;
}

.modal-ticket {
    width: 300px;
    height: auto;
    padding-bottom: 40px;
    text-align: center;
    background-color: lightgreen;
}

.modal-list {
    background-color: lightgreen;
    width: 500px;
    height: auto;
    padding-bottom: 40px;
    text-align: center;
}

.card-title-event {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    background-color: #ffcc80;
}

.card-title-event-modal {
    display: block;
    line-height: 32px;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    background-color: #ffcc80;
}

.modal-close-event {
    font-size: 50px !important;
    margin: 10px 10px;
}
