.carousel-item.carousel-home .gif {
  display: none;
}

.carousel-item.carousel-home.active .gif {
  display: block;
}

.carousel-item.carousel-home .jpeg {
  display: block;
}

.carousel-item.carousel-home.active .jpeg {
  display: none;
}

.carousel-container {
    height: 600px !important;
}

.carousel-home {
    width: 600px !important;
    height: 600px !important;
    position: absolute;
    left: 0px !important;
    top: -15px !important;
}

@media screen and (max-width: 640px) {
    .carousel-home {
        width: 350px !important;
        height: 350px !important;
        position: absolute;
        top: 0px !important;
        left: 324px !important;
    }
    .carousel-date {
        font-size: 25px !important;
        z-index: 2;
        position: absolute;
        bottom: 0px;
        color: white;
        width: 100%;
    }
}

.carousel-title {
    z-index: 2;
    position: absolute;
    top: 0px;
    color: white;
    width: 100%;
}

.carousel-date {
    font-size: 40px !important;
    z-index: 2;
    position: absolute;
    top: 40px;
    color: white;
    width: 100%;
}
