  .messages {
      font-size: 11px;
  }
  /*NAVBAR*/

  .logo_navbar {
      margin-left: -100%;
      height: 72%;
      width: auto;
  }

  .logo2_navbar {
      height: 132%;
      width: auto;
      margin-right: 2%;
      margin-top: -5px;
  }

  .menu_navbar {
      float: left;
      font-size: 15px;
      font-weight: bold;
      margin-top: 25%;
  }

  .navbar {
      background-color: #e6e6e6;
  }

  .navbar a {
      color: grey;
  }

  .background_sidenav {
      margin-left: 10px;
      margin-top: 10px;
      width: 25%;
      height: auto;
  }

  .side-nav {
      background-color: #e6e6e6;
      width: 70%;
  }

  .side-nav li>a {
      font-size: 15px;
      color: grey;
  }

  .divider_sidebar {
      height: 3px;
      overflow: hidden;
      background-color: #e0e0e0;
  }
  /*REGISTER*/

  .group_register {
      float: left;
      width: 150px;
      font-size: 9px;
      margin-bottom: 2em;
  }

  .groupbis_register {
      float: right;
      width: 150px;
      font-size: 9px;
      margin-bottom: 2em;
  }
  /*LOGIN*/

  .logreg_container {
      margin-top: 2%;
  }

  .button_newaccount {
      width: 100%;
  }
  /*FOOTER*/

  .built_with {
      cursor: pointer;
  }

  .modalDesc {
      width: 232px;
      height: 300px;
      border: 1px solid grey;
  }

  .modalPics {
      height: 40px;
      width: 40px;
  }
  /*PROFILPICTURE*/

  .image_profil {
      margin-top: 5%;
      margin-bottom: 5%;
      border-radius: 100%;
      width: 277px !important;
  }
  /*PROFIL PAGE*/

  .description_profil {
      background: white;
      text-align: center;
      height: 60px;
      font-size: xx-large;
  }

  .mail_profil_pic {
      text-decoration: none;
  }

  .github_logo {
      width: 25px;
      margin-left: 3px;
  }

  .icon_profil {
      margin-top: 2%;
  }

  .validate_profil {
      margin-bottom: 5%;
  }

  body {
      background-color: #e6e6e6;
      background-size: cover;
      color: grey;
      height: auto;
      position: relative;
  }

  html {
      height: 100%;
  }

  #wrap {
      min-height: 100%;
      position: relative;
  }

  #main {
      position relative;
      padding-bottom: 100px;
  }

  #footer {
      /*height: 100px;*/
      width: 100%;
      position: absolute;
      bottom: 0;
  }
  /*USER HOMEPAGE*/

  @media only screen and (max-width: 640px) {
      .logo_login {
          max-width: 100px;
      }
      .logo_register {
          max-width: 100px;
      }
      .title_logreg {
          font-size: 25px;
          margin-top: -20px;
      }
      .logreg {
          margin-top: -20px;
      }
      .button_logreg {
          margin-top: -20px;
          margin-bottom: -20px;
      }
      .title_home {
          font-size: 15px;
          font-weight: 600;
          margin: 20px auto 10px auto;
      }
      .bringItem {
          font-size: 11px;
      }
      .tobringlist_buttons {
          font-size: 20px !important;
          cursor: pointer;
          text-decoration: none;
      }
      .description_profil {
          font-size: 1.5em;
      }
      .image_profil {
          width: 77px !important;
      }
  }

  @media only screen and (min-width: 641px) {
      .logreg {
          margin-top: -20px;
      }
      .logo_register {
          max-width: 200px;
          margin-top: -20px;
      }
      .title_logreg {
          font-size: 40px;
          margin-top: -20px;
      }
      .logo_login {
          max-width: 200px;
          margin-top: -20px;
      }
      .title_home {
          font-size: 30px;
          font-weight: 600;
      }
      .tobringlist_buttons {
          padding-left: 12px;
          padding-right: 12px;
          cursor: pointer;
          text-decoration: none;
      }
  }

  .divider_title {
      height: 2px;
      overflow: hidden;
      background-color: grey;
      width: 25%;
  }

  .logo_event {
      width: 55%;
      padding-left: 5%;
  }

  .event_home {
      background-color: white;
      float: left;
      max-width: 900px;
      font-size: 1.75em;
  }

  .event_home p {
      font-size: 1.75em;
  }

  .info_event {
      font-size: 1.2em;
      line-height: 0.75em;
      float: right;
      text-align: right;
      width: 45%;
      padding-right: 10%;
      margin-top: 0%;
      margin-bottom: 5%;
  }
  /*INVITATIONS*/

  .collection-invitations {
      padding-bottom: 20px;
  }

  label.invitations_liste {
      height: 3rem;
      margin-left: 5%;
      display: inline-block;
      font-size: 2rem;
  }

  label.img_nogroup {
      margin-top: 15px;
      height: 3rem;
      margin-left: 6.5%;
      display: inline-block;
      font-size: 2rem;
  }

  .invitations_image {
      width: 42px;
      height: 42px;
      border-radius: 100%;
      vertical-align: middle;
  }

  .invitations_case {
      padding-left: 12px;
  }

  .list_image {
      border-radius: 100%;
      height: 100%;
      margin-bottom: -21px;
  }

  .madeBy {
      /*text-align: left;*/
      float: left;
  }
  /*TOBRINGLIST*/

  .tobringlist_element {
      margin-left: 2em;
      font-size: 23px;
      line-height: 23px;
  }
  /*HAPPYEVENT*/

  .happy-container {
      padding-top: 100px;
  }

  .happy_event {
      /*border-radius: 70%;
  border: solid 1px;*/
      width: 20%;
      margin: 2em auto;
  }

  .happy_text {
      font-size: 1.5em;
  }
  /*AGENDA*/

  .event_agenda {
      /*cursor: pointer;*/
      border: solid 1px grey;
      background-color: white;
      float: left;
      max-width: 900px;
      box-shadow: 2px 5px lightgrey;
  }

  .logo_agenda {
      width: 20%;
      margin-top: 0%;
      padding-left: 5%;
  }

  .info_agenda {
      float: right;
      width: 45%;
      padding-right: 10%;
      margin-top: 0%;
      margin-bottom: 5%;
  }

  .info_agenda p {
      font-size: 2em;
      line-height: 1.5em;
  }

  .location_agenda {
      font-size: 40px;
      padding: 1.5em 1.5em 0 0;
  }
  /* CARD DESCRITION TEAM */

  @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);
  .teamPics {
      height: 42px;
      width: 42px;
      /*border-radius: 100%;*/
  }

  .teamTitle {
      text-align: center;
      text-decoration: underline;
  }
  /* PLACEHOLDER DATE AND TIME */

  .dateclass {
      width: 100%;
  }

  .dateclass.placeholderclass::before {
      width: 100%;
      content: attr(placeholder);
  }

  .dateclass.placeholderclass:hover::before {
      width: 0%;
      content: "";
  }
  /* MEDIA QUERIES */

  @media screen and (max-width: 360px) {
      .info_agenda p {
          font-size: 1em !important;
      }
      .btn_login {
          margin-left: 0% !important;
      }
  }
  /* EVENT */

  .image_event {
      height: 70px;
  }

  .image_event img {
      margin-top: 9px;
      border-radius: 50%;
      height: 70px;
      width: 70px;
  }

  .image_event_img {
      margin-top: 9px;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      filter: grayscale(100%);
  }

  .image_event_img_include {
      margin-top: 9px;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      filter: grayscale(0%);
  }

  .logo_agenda_event {
      width: 45%;
      margin-top: 5%;
      padding-left: 5%;
  }

  .event_agenda_page_event {
      border: solid 1px grey;
      background-color: white;
      float: left;
      max-width: 900px;
      box-shadow: 2px 5px lightgrey;
  }

  .info_page_event {
      font-size: 1.5em;
  }

  .desc_page_event {
      font-size: 1.1em;
      text-align: left;
  }
  /* MODAL_EVENT */

  .modal_event {
      width: 300px;
      text-align: left;
  }

  .button_event {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-top: 9px;
  }

  .member_div {
      height: 80px;
  }

  .member_name {
      margin: auto auto auto 10px;
  }

  .buttonBis_event {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 19px 20px 0px 20px;
      font-size: 5em;
  }

  .buttonBisTextDiv_event {
      margin-bottom: 40px;
  }

  .buttonBisText_event {
      margin: 0px 27px 0px 49px;
  }

  .event_newagenda {
      background-color: lightgreen;
      box-shadow: 2px 5px lightgrey;
  }

  .material-icons-include {
      background-color: lightgreen !important;
      border-radius: 50%;
      color: white !important;
  }

  .material-icons-author {
      background-color: darkblue !important;
      border-radius: 50%;
      color: white !important;
  }

  .material-icons-tresorier {
      background-color: orange !important;
      border-radius: 50%;
      color: white !important;
  }

  .circle {
      border-radius: 0 !important;
  }

  .card-title {
      color: grey !important;
  }
  /* COMMENTS */

  .image_profil_comment {
      margin-right: 1%;
      width: 10%;
      float: left;
  }

  .image_profil_pending {
      margin-right: 1%;
      width: 5%;
      float: left;
  }

  .comment {
      line-height: 0.5em;
  }

  .body_comment {
      margin-bottom: 0px !important;
  }

  @media only screen and (min-width: 641px) {
      .catcentcat {
          background-color: #E19A2E;
          margin-left: -20%;
          margin-right: -20%;
          padding-top: 10%;
          overflow: hidden;
      }
      .catwalk {
          position: relative;
          -webkit-animation: myfirst 37s infinite;
          -webkit-animation-direction: left;
          animation: myfirst 37s infinite;
          animation-direction: left;
      }
      .catplayer {
          display: none;
      }
      @-webkit-keyframes myfirst {
          0% {
              margin-left: 80%;
          }
          100% {
              margin-left: -30%;
          }
      }
      @keyframes myfirst {
          0% {
              margin-left: 80%;
          }
          100% {
              margin-left: -30%;
          }
      }
  }

  @media only screen and (max-width: 640px) {
      .catcentcat {
          background-color: #E19A2E;
          margin-left: 0%;
          margin-right: 0%;
          padding-top: 0%;
          overflow: hidden;
      }
      .catplayer {
          width: 100%;
      }
      .catwalk {
          position: relative;
          -webkit-animation: myfirst 20s infinite;
          -webkit-animation-direction: left;
          animation: myfirst 20s infinite;
          animation-direction: left;
      }
      @-webkit-keyframes myfirst {
          0% {
              margin-left: 80%;
          }
          100% {
              margin-left: -30%;
          }
      }
      @keyframes myfirst {
          0% {
              margin-left: 50%;
          }
          100% {
              margin-left: -80%;
          }
      }
  }
