/*NAVBAR*/
.logo_navbar {
  margin-top: 5%;
  height: 90%;
  width: auto;
}
.navbar{
  background-color: #e6e6e6;
}
.navbar a {
  color: grey;
}
.background_sidenav img{
  width: 25%;
  height: auto;
}
.side-nav{
  background-color: #e6e6e6;
}
.side-nav li>a{
font-size: 30px;
color: grey;
}
.divider_sidebar{
  height: 3px;
  overflow: hidden;
  background-color: #e0e0e0;
}
/*REGISTER*/
.register_container{
  margin-top: 5%;
}
.logo_register {
  height: 50%;
  width: 50%;
}

/*LOGIN*/
.logo_login {
  height: 50%;
  width: 50%;
}
.login_container {
  margin-top: 5%;
  }

.button_newaccount {
  width: 100%;
}

/*FOOTER*/
.built_with {

}

/*PROFILPICTURE*/

.image_profil {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 100%;
  height: 30%;
  width: 30%;
}

/*PROFIL PAGE*/

.descritpion_profil {
  background: white;
  text-align: center;
  height: 60px;
  font-size: xx-large;
}

body {
  background-color: #e6e6e6;
  color: grey;
  }
