<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
          <p>
            © 2017 Copyright, Coders Party
            <a href="#modal1"><img class="right built_with" src='http://forthebadge.com/images/badges/built-with-love.svg'></a>
          </p>
        </div>
    </div>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Coders Party Team : </h4>
        <div class="row">
          <div class="col s4 col l4 modalDesc"><center><img class="modalPics" src="/../img/logo_orange.png" alt=""></center></div>
          <div class="col s4 col l4 modalDesc"><center><img class="modalPics" src="/../img/logo_orange.png" alt=""></center></div>
          <div class="col s4 col l4 modalDesc"><center><img class="modalPics" src="/../img/logo_orange.png" alt=""></center></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
      </div>
    </div>
</footer>
