<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
          <p>
            © 2017 Copyright, Réalisé par les élèves de la Wild Code School
            <a href="#modal1"><img class="right built_with" src='http://forthebadge.com/images/badges/built-with-love.svg'></a>
          </p>
        </div>
    </div>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="teamTitle">Coders Party Team : </h4>
        <div class="row">
          <div class="card col s4 l4">
            <div class="card-header">
              <img class="teamPics" src="../img/guillaume.jpg" alt=""/>
            </div>
            <div class="card-content">
              <h3>Guillaume the Gull</h3>
              <h4>The sexiest "Men (dog) in Black" </h4>
              <p>And now you're back from outer space, / I just walked in to find you here with that sad look upon your face, / I should've changed that stupid lock, I should have made you leave your key, / If I'd have known for just one second you'd be back to bother me. / Go on, now go! Walk out the door...</p>
            </div>
            <div class="card-footer">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/guillaume-sauvanon-a99b3891/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <!-- <li>
                  <a href="#"><i class="fa fa-stack-overflow"></i></a>
                </li> -->
                <li>
                  <a href="https://github.com/oriav" target="_blank"><i class="fa fa-github"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card col s4 l4">
            <div class="card-header">
              <img class="teamPics" src="../img/sabrina.jpg"/>
            </div>
            <div class="card-content">
              <h3>Mana the Pug</h3>
              <h4>The sexiest "Men (dog) in Black" </h4>
              <p>And now you're back from outer space, / I just walked in to find you here with that sad look upon your face, / I should've changed that stupid lock, I should have made you leave your key, / If I'd have known for just one second you'd be back to bother me. / Go on, now go! Walk out the door...</p>
            </div>
            <div class="card-footer">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/sabrina-mardjoeki/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <!-- <li>
                  <a href="#"><i class="fa fa-stack-overflow"></i></a>
                </li> -->
                <li>
                  <a href="https://github.com/Saminemjo" target="_blank"><i class="fa fa-github"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card col s4 l4">
            <div class="card-header">
              <img class="teamPics" src="../img/thomas.jpg"/>
            </div>
            <div class="card-content">
              <h3>Frank the Pug</h3>
              <h4>The sexiest "Men (dog) in Black" </h4>
              <p>And now you're back from outer space, / I just walked in to find you here with that sad look upon your face, / I should've changed that stupid lock, I should have made you leave your key, / If I'd have known for just one second you'd be back to bother me. / Go on, now go! Walk out the door...</p>
            </div>
            <div class="card-footer">
              <ul>
                <li>
                  <a href="https://www.linkedin.com/in/thomas-christal-a3b834139/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <!-- <li>
                  <a href="#"><i class="fa fa-stack-overflow"></i></a>
                </li> -->
                <li>
                  <a href="https://github.com/TChristal" target="_blank"><i class="fa fa-github"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
      </div>
    </div>
</footer>
