<div class="center-align">
  <img src="../../img/logo.png" alt="">
</div>
<div class="carousel carousel-container">
    <a class="carousel-item carousel-home" ui-sref="anon.login" ng-repeat="event in events | orderBy:'-startDate' | limitTo:5 track by $index">
      <img class="gif" src="../../img/images/{{event.categorie}}.gif">
      <img class="jpeg" src="../../img/images/{{event.categorie}}.jpg">
    <div class="carousel-title center-align">
        <h3>{{event.name}}</h3>
    </div>
    <div class="carousel-date center-align">
        <p>Le {{event.startDate | date: 'dd/MM/yyyy'}} à {{event.startTime | date: 'HH:mm'}}</p>
    </div>
    </a>
</div>
