<div class="row">
  <div class="col s12">
    <section class='section'>
      <div class='masthead-image' id='master-container'>
          <div class='content center'>
              <h1 id='master'>
                <div>Rejoins vite </div>

                <div id='master-container-scroller'>
                  <div class='master-container-scroller_item' ng-repeat="user in users track by $index">
                    <a class='cta-link' ui-sref="anon.login">{{user.name}}</a>
                  </div>
                  <div class='master-container-scroller_item'>{{users[0].name}}</div>
                </div>
                  <div>sur CodersParty</div>
              </h1>
              <button class="waves-effect waves-light orange btn" type="button" ui-sref="anon.login" name="button">Entrer</button>
          </div>
      </div>
    </section>
  </div>
</div>
