<div class="container login_container">
    <div class="row">
        <div class="offset-m3 col m6">
            <div class="row">
                <img class="col offset-s3 offset-m3 m6 logo_login" src="/../img/logo_orange.png" alt="">
            </div>
            <h2 class="center-align">Login</h2>
            <div class="row">
                <form class="col s12 form" name="loginForm" novalidate ng-submit="login()">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" ng-model="user.email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="pass" type="password" class="validate" ng-model="user.password" required>
                            <label for="pass">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="remember">
                                <label for="remember">Remember me</label>
                            </p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col offset-s4 s4 m12">
                            <p class="center-align">
                                <button class="btn-orange btn-large waves-effect waves-light orange" type="submit" name="action">Login</button>
                            </p>
                          </div>
                            <div class="row">
                                <div class="col s12 m12">
                                    <p class="center-align">
                                        <button class="btn-orange btn-large waves-effect waves-light orange button_newaccount" type="submit" name="action" ui-sref="anon.register">Creer un compte</button>
                                    </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
