<nav>
  <div class="nav-wrapper navbar">
    <a href="#" data-activates="mobile-demo" class="button-collapse center-align ">
      <img class="logo_navbar" src="/../img/logo_orange.png" />
      <p class="menu_navbar">MENU</p>
    </a>
    <ul class="left hide-on-med-and-down ">
      <li ui-sref-active="active"><a ui-sref="anon.home">Accueil</a></li>
      <li ui-sref-active="active"><a ui-sref="anon.login">Connexion</a></li>
      <li ui-sref-active="active"><a ui-sref="anon.register">S'enregistrer</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li>
        <img class="background_sidenav" src="/../img/logo_orange.png" alt="">
      </li>
        <li ui-sref-active="active"><a ui-sref="anon.home">Accueil</a></li>
      <div class="divider divider_sidebar"></div>
        <li ui-sref-active="active"><a ui-sref="anon.login">Connexion</a></li>
      <div class="divider divider_sidebar"></div>
        <li ui-sref-active="active"><a ui-sref="anon.register">S'enregistrer</a></li>
      <div class="divider divider_sidebar"></div>
    </ul>
  </div>
</nav>
