<div class="container register_container">
    <div class="row">
        <div class="offset-m3 col m6">
            <div class="row">
                <img class="col offset-s3 offset-m3 m6 logo_register" src="/../img/logo_orange.png" alt="">
            </div>
            <h2 class="center-align">Register</h2>
            <div class="row">
                <form class="col s12 form" name="loginForm" novalidate ng-submit="register()">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate" ng-model="user.name" required>
                            <label for="name">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" ng-model="user.email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="pass" type="password" class="validate" ng-model="user.password" required>
                            <label for="pass">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="odyssey" type="text" class="validate" ng-model="user.odyssey" required>
                            <label for="odyssey">GitHub Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select ng-model="user.groupe">
                               <optgroup label="WCS">
                                <option ng-repeat="group in groups">{{group.name}}</option>
                              </optgroup>!
                                 <optgroup label="Autres">
                                  <option value="Autre groupe">Autre groupe</option>
                                   </optgroup>
                              </select>
                            <label>Groupe</label>
                            <button data-target="modal1" class="btn modal-trigger grey group_register">créer un Groupe</button>
                        </div>
                    </div>
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Choisis le nom de ton groupe</h4>
                            <input type="text" class="validate" ng-model="newGroup" required>
                        </div>
                        <div class="modal-footer">
                            <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="updateGroup()">ok</a>
                        </div>
                    </div>
                    <!--Modal End -->
                    <div class="row">
                        <div class="col offset-s4 s4 m12">
                            <p class="center-align">
                                <button class="btn btn-large waves-effect waves-light orange" type="submit" name="action">Register</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
