<div class="row">
  <h1 class="title_home center-align">AGENDA</h1>
  <div class="col offset-s4 s4 offset-m5 m2 offset-l5 l2 divider_title "></div>
</div>
<div class="container">
    <ul class="collection event_newagenda hoverable" ng-click="moveToEvent(event._id)" ng-repeat="event in events | orderBy:'startDate'">
      <li class="collection-item avatar">
        <img src="/../img/{{event.categorie}}.png" alt="" class="circle">
        <span class="title">{{event.name | uppercase}}</span>
        <p>{{event.startDate | date:' dd/MM/yyyy'}} - {{event.startTime | date:' HH:mm' }}</p>
        <p>{{event.adresse}}</p>
        <p>{{event.description}}</p>
        <a class="secondary-content"><i class="material-icons">info_outline</i></a>
      </li>
    </ul>
</div>
