<div class="container">
  <h1 class="title_home center-align">DESCRIPTION</h1>
  <div class="row">
  <div class="col offset-s4 s4 offset-m5 m2 offset-l5 l2 divider_title "></div>
</div>

  <div class="container">
    <form role="form" class="form-horizontal" ng-submit="validateDescription()">
      <div class="row">
          <div class="col s12 l12">
            <label for="user_input_autocomplete_address">Addresse : </label>
            <input id="user_input_autocomplete_address" name="user_input_autocomplete_address" ng-model="evenement_adresse" type="text">
          </div>
          <div class="col s12 l12">
            <label for="fam_adress">Nom lieu : </label>
            <input id="fam_address" name="fam_adress" ng-model="evenement_lieu" class="form-control" placeholder="Entrez le nom familier de l'évènement">
          </div>
          <div class="col s12 l12">
            <label for="description_evenement">Déscription évènement : </label>
            <input id="description_evenement" name="description_evenement" ng-model="evenement_description" class="form-control" placeholder="Entrez une déscitpion de l'évènement">
          </div>
          <div class="col s12 col l12">
            <div class="input-field">
              <select ng-model="styleEvent">
                <option value="" disabled selected>Choisir type évènement</option>
                <option>Libre</option>
                <option>Collaboratif</option>
                <option>Cagnotte</option>
              </select>
              <label>Selection type évènement</label>
            </div>
          </div>
        <div class="row col s12 col l12">
          <button class="waves-effect waves-light btn orange right" type="submit">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
