<div class="container">
    <h1 class="title_home center-align">DESCRIPTION</h1>
    <div class="row">
        <div class="col offset-s4 s4 offset-m5 m2 offset-l5 l2 divider_title "></div>
    </div>

    <div class="container">
        <form name="descriptionForm" ng-submit="validateDescription()">
            <div class="row">
                <div class="col s12 l12">
                    <label for="user_input_autocomplete_address">Addresse : </label>
                    <input id="user_input_autocomplete_address" name="user_input_autocomplete_address" ng-model="evenement_adresse" type="text" required>
                </div>
                <div class="col s12 l12">
                    <label for="fam_adress">Nom lieu : </label>
                    <input id="fam_address" name="fam_adress" ng-model="evenement_lieu" class="form-control" placeholder="Entrez le nom familier de l'événement" required>
                </div>
                <div class="col s12 l12">
                    <label for="description_evenement">Description événement : </label>
                    <input id="description_evenement" name="description_evenement" ng-model="evenement_description" class="form-control" placeholder="Entrez une description de l'événement" required>
                </div>
                <div class="col s12 col l12">
                    <div class="input-field">
                        <select name="type" ng-model="styleEvent" required>
                <option>Libre</option>
                <option>Collaboratif</option>
                <option>Cagnotte</option>
              </select>
                        <label>Selection catégorie événement</label>
                    </div>
                    <div ng-show='validate' ng-messages="descriptionForm.type.$error" style="color:maroon" role="alert">
                        <div class="left messages" ng-message="required">Sélectionnez une catégorie</div>
                    </div>
                </div>
            </div>
            <div class="row col s12 col l12">
                <button class="btn waves-effect waves-light orange validate right" type="submit">Valider<i class="material-icons right">send</i></button>
            </div>
    </form>
  </div>
</div>
</div>
