<div class="row">
    <h1 class="title_home center-align">{{event.name | uppercase}}</h1>
    <div class="col offset-s4 s4 offset-m5 m2 offset-l5 l2 divider_title "></div>
</div>
<div class="row">
    <div class="col offset-s1 s10 offset-m3 m6 offset-lg4 lg4 container_ticket">
        <div class="ticket">
            <a href="{{event.place_url}}" target="_blank" class="material-icons left location_ticket">location_on</a>
            <div class="datas">
                <div class="ribbon">
                    <div class="label">Par {{event.author.name}}</div>
                </div>
                <span class="span_ticket"></span>
                <strong class="strong_ticket"><img src="/../img/{{event.categorie}}.png" alt=""></strong>
                <div class="date_ticket flow-text">{{event.startDate | date:' dd-MM-yyyy'}}</div>
                <div class="lieu_ticket flow-text">
                    {{event.lieu}}
                </div>
                <div class="type_ticket flow-text">
                    <p>Cet évènement est collaboratif, une participation est demandé aux participants</p>

                </div>
                <em class="em_ticket flow-text">{{event.description}}</em>
            </div>
            <div class="row image_ticket">
                <div class="col s1" ng-repeat="invitation in event.invitations | limitTo:8">
                    <img class="image_ticket_img" ng-class="{'image_ticket_img_include': members.includes(invitation.email)}" ng-src="https://avatars.githubusercontent.com/{{invitation.odyssey}}?s=460" alt="">
                </div>
                <a class="material-icons right button_ticket_img" data-target='demoModal' modal>reorder</a>

            </div>
            <div class="ticket-in">
                <div class="content_ticket center-align">
                    <div class="pass">
                        <h1>Ton ticket<br>pour {{event.name}}</h1>
                    </div>
                    <span>PREMIUM</span>
                    <em>2015</em>
                </div>
            </div>
            <a class="button_ticket toogle" ng-hide="hideGreen()" ng-click="doGo()" data-target='bringModal' modal>J'y vais</a>
            <a class="button_ticket_red toogle" ng-show="showRed()" ng-click="dontGo()">Annuler la participation</a>
        </div>
    </div>
</div>
<div ng-show="isAuthor()" class="center-align">
<a class="waves-effect waves-light btn grey"data-target='bringedModal' modal>liste des éléments à apporter</a>
</div>

<!-- Modals Structures -->
<div id="demoModal" class="modal modal_ticket center-align">
    <a class="material-icons modal-action modal-close modal-close-event right">clear</a>
    <div class="modal-content ">
        <h4>Participants</h4>
        <div class="divider"></div>
        <div class="row left" ng-repeat="invitation in event.invitations">
            <div class="col s12 m12 l12 member_div">
                <img class="image_event_img" ng-class="{'image_event_img_include': members.includes(invitation.email)}" ng-src="https://avatars.githubusercontent.com/{{invitation.odyssey}}?s=460" alt="">
                <p class="member_name">{{invitation.name}}</p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="bringModal" class="modal modal_ticket center-align">
    <div class="modal-content ">
        <h4>Ce qu'il reste à apporter</h4>
        <div class="divider"></div>
        <div class="row " ng-repeat="element in event.elements.toBring track by $index">
            <p>{{element.value}} {{element.bringedQty}}/{{element.qty}} </p>
            <p>ta contribution : {{iBring[$index].number}}</p><button class="btn-floating btn-large waves-effect waves-light red" ng-click="incQty($index)" type="button" name="button">+</button><button class="btn-floating btn-large waves-effect waves-light red"
                ng-click="decQty($index)" type="button" name="button">-</button>
        </div>
        <button class="modal-action modal-close" type="button" name="button" ng-click="validateBring()">Valider</button>
    </div>
</div>

<div id="bringedModal" class="modal modal_list center-align">
  <a class="material-icons modal-action modal-close modal-close-event right">clear</a>
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title-event center-align">Ce que tes invités apportent :</span>
                    <div class="row center-align" ng-repeat="item in event.elements.partBring track by $index">
                        <p>{{item.name}}</p>
                        <ul class="col s6 m6 lg6">
                            <li ng-repeat="section in item.bringThis track by $index">{{section.value}} :</li>
                        </ul>
                        <ul class="col s6 m6 lg6">
                            <li ng-repeat="section in item.bringThis track by $index">{{section.number}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card orange ">
                <div class="card-content white-text center-align">
                    <span class="card-title-event center-align">Ce qu'il reste à apporter :</span>
                    <ul>
                        <li ng-repeat="reste in event.elements.toBring">{{reste.value}} : {{reste.bringedQty}}/{{reste.qty}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ajouter une ligne avec l author et ce qu il apporte : A peut etre stocker en base event--->
