<div class="row">
    <h1 class="title_home center-align">{{event.name | uppercase}}</h1>
    <div class="col offset-s4 s4 offset-m5 m2 offset-l5 l2 divider_title "></div>
</div>
<div class="row">
    <div class="col offset-s1 s10 offset-m3 m6 offset-lg4 lg4 container_ticket">
        <div class="ticket">
          <a href="{{event.place_url}}" target="_blank" class="material-icons left location_ticket">location_on</a>
            <div class="datas">
                <div class="ribbon">
                    <div class="label">Par {{event.author.name}}</div>
                </div>
                <span class="span_ticket"></span>
                <strong class="strong_ticket"><img src="/../img/{{event.categorie}}.png" alt=""></strong>
                <div class="date_ticket flow-text">{{event.startDate | date:' dd-MM-yyyy'}}</div>
                <div class="lieu_ticket flow-text">
                    {{event.lieu}}
                </div>
                <div class="type_ticket flow-text">
                    <p>Cet évènement est collaboratif, une participation est demandé aux participants</p>

                </div>
                <em class="em_ticket flow-text">{{event.description}}</em>
            </div>
            <div class="row image_ticket">
                <div class="col s1" ng-repeat="invitation in event.invitations | limitTo:8">
                    <img class="image_ticket_img" ng-class="{'image_ticket_img_include': members.includes(invitation.email)}" ng-src="https://avatars.githubusercontent.com/{{invitation.odyssey}}?s=460" alt="">
                </div>
                  <a class="material-icons right button_ticket_img" data-target='demoModal' modal>reorder</a>

            </div>
            <div class="ticket-in">
                <div class="content_ticket center-align">
                    <div class="pass">
                        <h1>Ton ticket<br>pour {{event.name}}</h1>
                    </div>
                    <span>PREMIUM</span>
                    <em>2015</em>
                </div>
            </div>
            <a class="button_ticket toogle" ng-hide="hideGreen()" ng-click="doGo()">J'y vais</a>
            <a class="button_ticket_red toogle" ng-show="showRed()" ng-click="dontGo()">Annuler la participation</a>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div id="demoModal" class="modal modal_ticket center-align">
  <div class="modal-content ">
    <h4>Participants</h4>
    <div class="divider"></div>
    <div class="row left" ng-repeat="invitation in event.invitations">
      <div class="col s12 m12 l12 member_div">
        <img class="image_event_img" ng-class="{'image_event_img_include': members.includes(invitation.email)}" ng-src="https://avatars.githubusercontent.com/{{invitation.odyssey}}?s=460" alt="">
        <p class="member_name">{{invitation.name}}</p>
      </div>
    </div>
  </div>
</div>
