<div class="row">
    <h1 class="title_home center-align">{{event.name | uppercase}}</h1>
    <div class="col offset-s4 s4 offset-m5 m2 offset-l5 l2 divider_title "></div>
</div>
<div class="row">
    <div class="col s12 offset-m2 m8 offset-l3 l6">
        <div class="card card-event">
            <div class="ribbon-wrapper">
                <div class="ribbon-color">Par <br>{{event.author.name}}</div>
            </div>
            <a href="{{event.place_url}}" target="_blank" class="material-icons left card-event-location">location_on</a>
            <div class="card-image card-image-event">
                <img src="/../img/{{event.categorie}}.png">
            </div>
            <span class="card-event-title">{{event.description}}</span>
            <div class="card-content card-profile-container">
                <div class="col s1" ng-repeat="invitation in event.invitations | limitTo:10">
                    <img class="card-profile-event" ng-class="{'card-profile-event-include': members.includes(invitation.email)}" ng-src="https://avatars.githubusercontent.com/{{invitation.odyssey}}?s=460" alt="">
                </div>
                <a class="material-icons right card-button-image" data-target='demoModal' modal>reorder</a>
            </div>
            <div class="card-content card-event-description">
                <p class="card-event-date">{{event.startDate | date:' dd/MM/yyyy'}} à {{event.startTime | date:'HH:mm'}}</p>
                <p class="card-event-lieu">{{event.lieu}}</p>
                </ul>
            </div>
            <div class="card-content white card-event-type">
                <p>Cet évènement est {{event.style}}</p>
            </div>
            <div class="card-action">
                <a class="card_ticket toogle" ng-hide="hideGreen()" ng-click="doGo()">J'y vais</a>
                <a class="card_ticket_red toogle" ng-show="showRed()" ng-click="dontGo()">Annuler la participation</a>
            </div>
        </div>
        <div ng-show="isAuthor()" class="center-align">
          <a class="waves-effect waves-light btn button_bring" data-target='bringedModal' modal>Ce que les invités apportent</a>
        </div>
        <div ng-show="isParticipant()" class="center-align">
          <a class="waves-effect waves-light btn button_bring" data-target='iBringModal' modal>Ce que tu apportes</a>
        </div>
    </div>
</div>



<!-- Modals Structures -->
<div id="demoModal" class="modal modal-event-profile center-align">
    <a class="material-icons modal-action modal-close modal-close-event right">clear</a>
    <div class="row">
        <div class="col s12">
            <div class="card ">
                <div class="card-content">
                    <span class=" white-text card-title-event center-align">Invités :</span>
                    <div class="row ">
                        <div class="col s6 m6 l6" ng-repeat="invitation in event.invitations" ng-if="!members.includes(invitation.email)">
                            <img class="image_event_img" ng-src="https://avatars.githubusercontent.com/{{invitation.odyssey}}?s=460" alt="">
                            <p class="member_name">{{invitation.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card  ">
                <div class="card-content center-align">
                    <span class="card-title-event white-text center-align">Participants :</span>
                    <div class="row ">
                        <div class="col s6 m6 l6 " ng-repeat="participation in event.participations">
                            <img class="image_event_img_include" ng-src="https://avatars.githubusercontent.com/{{participation.odyssey}}?s=460" alt="">
                            <p class="member_name">{{participation.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="bringModal" class="modal modal-ticket center-align">
    <div class="modal-content">
        <span class=" white-text card-title-event center-align">Ce qu'il reste à apporter</span>
        <div class="white modal-ticket-container">
            <div class="row" ng-repeat="element in event.elements.toBring track by $index">
                <p>{{element.value}} {{element.bringedQty}}/{{element.qty}} </p>
                <p>ta contribution : {{iBring[$index].number}}</p>
                <button class="btn-floating waves-effect waves-light grey" ng-click="incQty($index)" type="button" name="button">+</button>
                <button class="btn-floating waves-effect waves-light grey" ng-click="decQty($index)" type="button" name="button">-</button>
            </div>
        </div>
        <button class="btn waves-effect waves-light modal-action modal-close" ng-click="validateBring()">Valider <i class="material-icons right">send</i></button>
    </div>
</div>

<div id="bringedModal" class="modal modal-list center-align">
    <a class="material-icons modal-action modal-close modal-close-event right">clear</a>
    <div class="row">
        <div class="col s12">
            <div class="card  ">
                <div class="card-content center-align">
                    <span class="card-title-event white-text center-align">Ce qu'il reste à apporter :</span>
                    <div>
                        <ul>
                            <li ng-repeat="reste in event.elements.toBring">{{reste.value}} : {{reste.bringedQty}}/{{reste.qty}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-content">
                    <span class=" white-text card-title-event center-align">Ce que tes invités apportent :</span>
                    <div class="row center-align" ng-repeat="item in event.elements.partBring track by $index">
                        <p>{{item.name}}</p>
                        <ul class="col s6 m6 lg6">
                            <li ng-repeat="section in item.bringThis track by $index">{{section.value}} :</li>
                        </ul>
                        <ul class="col s6 m6 lg6">
                            <li ng-repeat="section in item.bringThis track by $index">{{section.number}}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="iBringModal" class="modal modal-list center-align">
    <a class="material-icons modal-action modal-close modal-close-event right">clear</a>
    <div class="row">
        <div class="col s12">
            <div class="card  ">
                <div class="card-content center-align">
                    <span class="card-title-event white-text center-align">Ce que je dois apporter :</span>
                    <div>
                        <ul>
                            <li ng-repeat="bring in userBring()">{{bring.value}} : {{bring.number}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ajouter une ligne avec l author et ce qu il apporte : A peut etre stocker en base event--->
