<footer class="page-footer orange">
  <div class="footer-copyright">
    <div class="container">
      <p>
        © 2017, Réalisé par les élèves de la Wild Code School.
        <a data-target="modal1"><img class="right built_with hoverable" src='http://forthebadge.com/images/badges/built-with-love.svg'></a>
      </p>
      <audio controls><source src="http://radiomeuh.ice.infomaniak.ch/radiomeuh-128.mp3" type="audio/mpeg">Your browser does not support the audio element.</audio>
    </div>
  </div>
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4 class="teamTitle">Coders Party Team</h4>
      <ul class="collection">
        <li class="collection-item avatar">
          <img class="teamPics circle" src="../img/guillaume.jpg" alt="">
          <span class="title">Guillaume Sauvanon</span>
          <p>First Line <br> Second Line </p>
          <a href="https://www.linkedin.com/in/guillaume-sauvanon-a99b3891/" class="secondary-content" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li class="collection-item avatar">
          <img class="teamPics circle" src="../img/sabrina.jpg" alt="">
          <span class="title">Sabrina Mardjoeki</span>
          <p>First Line <br> Second Line </p>
          <a href="https://www.linkedin.com/in/sabrina-mardjoeki/" class="secondary-content" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li class="collection-item avatar">
          <img class="teamPics circle" src="../img/thomas.jpg" alt="">
          <span class="title">Thomas Christal</span>
          <p>First Line <br> Second Line </p>
          <a href="https://www.linkedin.com/in/thomas-christal-a3b834139/" class="secondary-content" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
