<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
          <p>
            © 2017 Copyright, Réalisé par les élèves de la Wild Code School
            <a href="#modal1"><img class="right built_with" src='http://forthebadge.com/images/badges/built-with-love.svg'></a>
          </p>
        </div>
    </div>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <h4>Coders Party Team : </h4>
            <p><img class="modalPics" src="/../img/logo_orange.png" alt="">A bunch of text</p>
            <p><img class="modalPics" src="/../img/logo_orange.png" alt="">A bunch of text</p>
            <p><img class="modalPics" src="/../img/logo_orange.png" alt="">A bunch of text</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
      </div>
    </div>
</footer>
