<div class="row" ng-show="spinner">
  <div class="col s12 center-align spinner">
    <img src="/../img/images/large.gif">
  </div>
  <div class="col s12 center-align home-text">
    <h1 class="carousel-presentation">
      <div>Chargement...</div>
    </h1>
  </div>
</div>
<div class="row home-container" ng-show="!spinner">
  <div class="col s12 ">
    <div class="carousel carousel-container">
      <div class="carousel-item carousel-home" ng-model="item" ng-repeat="event in events | orderBy:'startDate' | limitTo:5 track by $index">
          <img class="gif" src="../../img/images/{{event.categorie}}.gif">
          <img class="jpeg" src="../../img/images/{{event.categorie}}.jpg">
          <div class="carousel-title center-align">
              <h5>{{event.name | uppercase}}</h5>
              <p>Le {{event.startDate | date: 'dd/MM/yyyy'}} à {{event.startTime | date: 'HH:mm'}} par {{event.author.name}} de {{event.author.groupe | uppercase}}</p>
          </div>
          <button class="button_carousel waves-effect waves-light btn" ng-mobile-click="moveToEvent(event._id)">Voir</button>
          <a><i class="material-icons carousel-arrow-prev hide-on-med-and-down" ng-click="prev()">keyboard_arrow_left</i></a>
          <a><i class="material-icons carousel-arrow-next hide-on-med-and-down" ng-click="next()">keyboard_arrow_right</i></a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align home-text">
        <h1 class="carousel-presentation">
          <div>Bonjour  <span class="teal-text">{{user.name}}</span>,</div>
          <div>Bienvenue sur CodersParty !</div>
        </h1>
        <p>L'application qui te permet d'organiser tes évènements... tout simplement.</p>
      </div>
    </div>
  </div>
</div>
