<div class="container">
    <div class="row">
        <h1 class="title_home center-align">INVITATIONS</h1>
        <div class="col offset-s4 s4 offset-m5 m2 offset-l5 l2 divider_title "></div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <form action="#" ng-model="events">
                <ul class="collection">
                    <li class="col s12 l6 collection-item" ng-repeat="group in groups track by $index" ng-hide="nogroup">
                        <div class=" collection-invitations">
                            <input ng-model="group.selected" type="checkbox" id="{{group._id}}" />
                            <label for="{{group._id}}">{{group.name | uppercase}}</label>
                        </div>
                    </li>
                </ul>
            </form>
        <div ng-hide="groupok()">
            <a ui-sref="user.invitationsuite">Je préfère ajouter mes participants</a>
        </div>
        <button class="btn waves-effect waves-light orange validate right" type="submit" ng-click="valider()" name="action">Valider<i class="material-icons right">send</i></button>
      </div>
    </div>
</div>
