<nav class="nav-wrapper" role="navigation" ng-controller="NavbarController">
    <div class="nav-wrapper">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="anon.home">Home</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li ui-sref-active="active"><a ui-sref="user.profile" ng-show="auth.isAuthenticated()">Profile</a></li>
              <li ui-sref-active="active"><a ui-sref="user.dashboard" ng-show="auth.isAuthenticated()">Dashboard</a></li>
                <li>
                <li ui-sref-active="active"><a ui-sref="anon.home">Website</a></li>
                    <li><a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#'>Logout</a></li>
                </li>
            </ul>
        </div>
    </div>
</nav>
