<nav>
    <div class="nav-wrapper navbar">
        <a href="#" data-activates="mobile-demo" class="button-collapse center-align ">
            <img class="logo_navbar" src="/../img/logo_orange.png" />
            <p class="menu_navbar">MENU</p>
        </a>
        <ul class="left hide-on-med-and-down ">
            <li ui-sref-active="active"><a ui-sref="user.home">Accueil</a></li>
            <li ui-sref-active="active"><a ui-sref="user.agenda">Agenda</a></li>
            <li ui-sref-active="active"><a ui-sref="user.profile" ng-show="auth.isAuthenticated()">Mon profil</a></li>
            <li ui-sref-active="active"><a ui-sref="user.myEvent" ng-show="auth.isAuthenticated()">Mes événements</a></li>
            <li ui-sref-active="active"><a ui-sref="user.createevent" ng-show="auth.isAuthenticated()">Créer un événement</a></li>
            <li><a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#'>Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li>
                <div class="background_sidenav">
                    <img src="/../img/logo_orange.png" alt="">
                </div>
            </li>
            <div class="divider divider_sidebar"></div>
            <li ui-sref-active="active"><a ui-sref="user.home">Accueil</a></li>
            <div class="divider divider_sidebar"></div>
            <li ui-sref-active="active"><a ui-sref="user.agenda">Agenda</a></li>
            <div class="divider divider_sidebar"></div>
            <li ui-sref-active="active"><a ui-sref="user.profile" ng-show="auth.isAuthenticated()">Mon profil</a></li>
            <div class="divider divider_sidebar"></div>
            <!-- <li ui-sref-active="active"><a ui-sref="">Mes évènements</a></li>
      <div class="divider divider_sidebar"></div> -->
            <!-- <li ui-sref-active="active"><a ui-sref="">Création</a></li>
      <div class="divider divider_sidebar"></div> -->
            <li ui-sref-active="active"><a ui-sref="user.myEvent" ng-show="auth.isAuthenticated()">Mes événements</a></li>
            <div class="divider divider_sidebar"></div>
            <li ui-sref-active="active"><a ui-sref="user.createevent" ng-show="auth.isAuthenticated()">Créer un événement</a></li>
            <div class="divider divider_sidebar"></div>
            <li><a ng-click="logout()" ng-show="auth.isAuthenticated()" href='#'>Se deconnecter</a></li>

            <div class="divider divider_sidebar"></div>
        </ul>
    </div>
</nav>
