<div class="container">
    <form class="col s12 form" name="loginForm" novalidate ng-submit="move()">
        <div class="row">
            <img class="offset-s3 col s6 offset-m3 col m6 image_profil" src="https://avatars.githubusercontent.com/{{user.odyssey}}?s=460" alt="image_profil">
        </div>
        <div class="row">
            <div class="col s12 description_profil"><i class="small material-icons left icon_profil">perm_identity</i>{{user.name}}</div>
        </div>
        <div class="row">
            <div class="col s12 description_profil"><i class="small material-icons left icon_profil">email</i>{{user.email}}</div>
        </div>
        <div class="row">
            <div class="col s12 description_profil"><i class="small material-icons left icon_profil">group_work</i>{{user.groupe}}</div>
        </div>

        <div class="row">
            <div class="col s12 description_profil"><img class=" left icon_profil github_logo" src="../../img/GitHub-Mark.png"></img>{{user.odyssey}}</div>
        </div>
        <div class="col offset-s4 s4 m12">
            <p class="center-align">
                <button class="btn btn-large waves-effect waves-light orange validate_profil" type="submit" name="action">Accueil</button>
            </p>
        </div>
