<div class="container">
  <div class="row ">
    <div class="col s12 l12 xl12 center-align">
      <img class="image_profil" src="https://avatars.githubusercontent.com/{{user.odyssey}}?s=460" alt="image_profil">
    </div>
  </div>
  <div class="row">
      <div class="col s12 description_profil"><i class="small material-icons left icon_profil">perm_identity</i>{{user.name}}</div>
  </div>
  <div class="row">
      <div class="col s12 description_profil"><i class="small material-icons left icon_profil">email</i>{{user.email}}</div>
  </div>
  <div class="row">
      <div class="col s12 description_profil"><i class="small material-icons left icon_profil">group_work</i>{{user.groupe}}</div>
  </div>
  <div class="row">
      <div class="col s12 description_profil"><img class=" left icon_profil github_logo" src="../../img/GitHub-Mark.png"></img>{{user.odyssey}}</div>
  </div>
  <div class="col offset-s4 s4 m12">
      <p class="center-align">
          <button class="btn btn-large waves-effect waves-light orange validate_profil" type="submit" name="action" ui-sref="user.home">Accueil</button>
      </p>
  </div>
  <div class="col s12 m12">
      <p class="center-align">
          <a data-target="modal2">Changer mon mot de passe</a>
      </p>
  </div>
</div>

<div id="modal2" class="modal">
   <div class="modal-content">
     <h4>Changement de mot de passe</h4>
     <div class="input-field">
       <label for="password">Entrez votre nouveau mot de passe</label>
       <input id="password" type="text" ng-model="password">
     </div>
   </div>
   <div class="modal-footer">
     <a ng-click="validate()" class="modal-action modal-close waves-effect waves-green btn-flat">Valider</a>
   </div>
 </div>
