<div class="container">
    <div class="row">
        <h1 class="title_home center-align">CHOSES A APPORTER PAR LES INVITES</h1>
        <div class="col offset-s4 s4 offset-m5 m2 offset-l5 l2 divider_title "></div>
    </div>
    <div class="input-field col s12">
        <div class="row">
            <form ng-submit="addElement()">
                <input class="left" ng-model="newEl" type="text" class="validate" id="newEl" required>
                <label for="newEl">Elément à apporter</label>
                <button class="btn waves-effect waves-light right" type="submit" name="action">Ajouter</button>
            </form>
        </div>
        <div class="row tobringlist_container">
            <div class="col s12">
                <ul class=" collection col s6">
                    <li class=" bringItem collection-item dismissable" ng-repeat="chose in event.elements.toBring track by $index">
                        <div>{{chose.value | uppercase}}</div>
                    </li>
                </ul>
                <ul class="collection col s6">
                    <li class=" bringItem collection-item dismissable" ng-repeat="chose in event.elements.toBring track by $index">
                        <div>Qté : <span>{{chose.qty}}</span><i class="material-icons secondary-content tobringlist_buttons" ng-click="incQty($index)">add</i><i class="material-icons secondary-content tobringlist_buttons" ng-click="decQty($index)">remove</i></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn waves-effect waves-light orange validate right" ng-click="valider()">Valider<i class="material-icons right">send</i></button>
            <div ng-show="show" style="color:maroon" role="alert">Vous devez entrer au moins 1 élément à apporter.</div>
        </div>
    </div>
</div>
